body {
    background-image: linear-gradient(45deg, aqua, yellow);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100dvh;
    width: 100dvw;
}

button, p , section{
    border-radius: 0.3em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid;
    
}

section{
    background-color: rgba(255, 255, 255, 0.5);
    height:5em;
    width: 5em;
    margin: auto;
    padding-top: 2%;

}

button {
    margin: 1px;
    height: 90%;
    width: 20%;
    transition: all;
    transition-duration: 50ms;
}

div {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 20%;
    margin: auto;


}

h1 {
    text-align: center;
}

p {
    background-color: aqua;
    height: 10%;
    width: 90%;
    margin: auto;
    margin-bottom: 4px;
    text-align: center;
    font-size: 4vw;
}

button:hover{
    transform: scale(1.05);
    background-color: rgb(221, 221, 221);
}

footer{
    height: 5vh;
    background-color: aqua;
    width: 100%;

}