body {
    background-image: linear-gradient(45deg, aqua, yellow);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

button, p , section{
    border-radius: 0.3em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid;
    
}

section{
    background-color: rgba(255, 255, 255, 0.5);
    max-height: 80vh;
    max-width: 80vh;
    margin: auto;
    aspect-ratio: 1 / 1;
    padding: auto;
}

button {
    aspect-ratio: 1 / 1;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-inline: 10%;
    margin-top: 3%;
    height: 80%;
}

h1 {
    text-align: center;
}

p {
    background-color: aqua;
    height: 10%;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    font-size: 30px;

}

button:hover{
    transform: scale(1.05);
    background-color: rgb(221, 221, 221);
}

@media screen and (max-width: 480px) {
    section {
        width: 90%;
    }

    p {
        font-size: 5vw;
    }
}